{% extends 'base.html.twig' %}

{% block body %}
    <h1>Jobs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Email</th>
                <th>Status</th>
                <th>Postedat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td><a href="{{ path('job_show', { 'id': job.id }) }}">{{ job.id }}</a></td>
                <td>{{ job.title }}</td>
                <td>{{ job.description }}</td>
                <td>{{ job.email }}</td>
                <td>{{ job.status }}</td>
                <td>{% if job.postedAt %}{{ job.postedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if job.updatedAt %}{{ job.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('job_show', { 'id': job.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('job_edit', { 'id': job.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('job_new') }}">Create a new job</a>
        </li>
    </ul>
{% endblock %}
