<h3>A new job has been posted. </h3>
<p>The  email addres of HR manager is: <b>{{ email }}</b></p>
<p>{{ title }}.</p>
<p>{{ description }}.</p>
<p><a href="{{ app.request.getSchemeAndHttpHost() }}{{ path('job_publish', {'id': id}) }}">Publish</a> | <a href="{{ app.request.getSchemeAndHttpHost() }}{{ path('job_spam', {'id': id}) }}">Mark it as spam</a>